/* used navbar info from w3schools: https://www.w3schools.com/howto/howto_js_topnav.asp */
/* #4CAF50 green color borders and highlights */
.topnav {
    background-color: #333;
    overflow: hidden;
    font-family: 'Montserrat Subrayada', sans-serif;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    top: 0;
    
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #4caf50;
    color: black;
    z-index: 1;
    font-family: 'Montserrat Subrayada', sans-serif;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
    font-family: 'Montserrat Subrayada', sans-serif;
  }
  

  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    font-family: 'Montserrat Subrayada', sans-serif;

  }

  @viewport {
    width: device-width ;
    zoom: 1.0 ;

  } 