<!DOCTYPE html>
    {% load static %}
<head>
    <title>Dropbox Clone</title>
    <link rel="stylesheet" href="{% static 'css/landingpage.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
</head>
<body>

    <div class="main">
        <div class="page-header">
            <h1>DropBox Clone </h1>
        </div>
        <div class="topnav">
            <a class="" href="#home">Home</a>
            <a href="">My Files</a>
            <a href="">Account</a>
            <a href="">Logout</a>
        </div> 

        <div>
          <h1 id = "header">DropBox Clone </h1>
          <form action="" method="post">
              {% csrf_token %}
              {{ form.as_p }}
              <input type="submit" value="Submit">
          </form>
          <br />
          <br />
          <a href="/">Return To The Homepage</a>
        </div>




        {% comment %} this is where all our date will be placed {% endcomment %}
    </div>
    


</body>
</html>