<!DOCTYPE html>
    {% load static %}
<head>
    <title>Dropbox Clone</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/landingpage.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">
</head>
<body>

    <div class="main">
        <div class="page-header">
            <h1>DropBox Clone </h1>
        </div>
        <div class="topnav">
            <a href={%url "landingpage"%}>Home</a>
            <a href={% url "filelist"%}>My Files</a>
            <a href="/userpage/{{request.user.id}}">Account</a>
            <a href="">Logout</a>
        </div> 

        <div class="main-body">
            <div class="content">
            
                <h1 id = "header">DropBox Clone </h1>
                <form action="" method="post", enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Submit">
                </form>
                <br />
                <br />
                <a href="/">Return To The Homepage</a>
            </div>
        </div>




        {% comment %} this is where all our date will be placed {% endcomment %}
    </div>
    


</body>
</html>