<!DOCTYPE html>
    {% load static %}
<head>
    <title>Dropbox Clone</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/landingpage.css' %}" >
    <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Monda&display=swap" rel="stylesheet"> 
</head>
<body>

    <div class="main">
        <div class="page-header">
            <h1>DropBox Clone </h1>
        </div>
        <div class="topnav">
            <a href={%url "landingpage"%} class="content-header">Home</a>
            <a href={%url "filelist"%} class="content-header">My Files</a>
            {%if user.is_authenticated%}
            <a href="/userpage/{{request.user.id}}" class="content-header">Account</a>
            <a href={%url "logout"%} class="content-header">Logout</a>
            {% else %}
            <a href={% url "signuppage"%} class="content-header">Sign Up</a>
            {% endif %}
        </div> 
        <div class="main-body">
            <div class="content">
                <h1 class='content-header'>
                    Welcome <b style="color: #449d48">{{user.username}}</b> to our Dropbox Clone!
                </h1>
                <hr>
                
                <div class="description">
                <div><h3 class="content-header">What is Dropbox?</div></h3>
                <hr>
                
                <div style="font-family: 'Monda', sans-serif">Dropbox is essentially cloud storage where you can store you files, images, and folders and download them on other devices.</div> 
                </div>
                <div class="creators">
                <p><h2 class="content-header">The Green Team:</h2></p>
                <hr>
                <div style="font-family: 'Monda', sans-serif">
                    <h4>Mustafa</h4>
                    <h4>Mike</h4>
                    <h4>Koren</h4>
                </div>
                </div> 

                <div class="whys">
                    <h2 class="content-header">Reasons From Team:</h2>
                    <hr>
                    <div style="font-family: 'Monda', sans-serif">
                        "We wanted to create an application that would really challenge us and something we hadn't yet worked on this year." - Koren</li>
                        <br/>
                        "We wanted to learn and understand how to create a very applicable mptt database, for future reference and to be able to create similar apps." -Mustafa</li>
                        <br/>
                        "We wanted to develop an application that served a business purpose and provides value to a future employer." - Mike
                    </div>
                      
                </div>
            </>
        </div>

        {% comment %} this is where all our date will be placed {% endcomment %}
    </div>
    
</body>
</html>