<!DOCTYPE html>
    {% load static %}
<head>
    <title>Dropbox Clone</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/landingpage.css' %}" >
    <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">
</head>
<body>

    <div class="main">
        <div class="page-header">
            <h1>DropBox Clone </h1>
        </div>
        <div class="topnav">
            <a href={%url "landingpage"%}>Home</a>
            <a href={%url "filelist"%}>My Files</a>
            <a href={%url "userpage"%}>Account</a>
            <a href="{% url 'logout' %}"><button>Logout</button></a>
        </div> 
        {% if user.is_authenticated%}
        <div class="main-body">
            <div class="content">
                <h1>
                    Welcome <b><u style="color: #4CAF50">{{user.username}}</u></b> to our DropBox Clone!
                </h1>
                <p>
                    Created by Mike, Mustafa, and Koren!
                </p>
                <p>
                    Reasons why we chose Dropbox clone:
                    <ol>
                        <li>Reasons for Mike.</li>
                        <li>Reasons for Mustafa</li>
                        <li>Reasons for Koren</li>
                    </ol>    
                </p>
            </div>
        </div>

        {% comment %} this is where all our date will be placed {% endcomment %}
    </div>
    {% endif %}
    
</body>
</html>